In [3]:
import pandas as pd
import json

In [2]:
#Read JSON
example = pd.read_json("samples.json")
print(example)

     names                                           metadata  \
0      940  {'id': 940, 'ethnicity': 'Caucasian', 'gender'...
1      941  {'id': 941, 'ethnicity': 'Caucasian/Midleaster...
2      943  {'id': 943, 'ethnicity': 'Caucasian', 'gender'...
3      944  {'id': 944, 'ethnicity': 'European', 'gender':...
4      945  {'id': 945, 'ethnicity': 'Caucasian', 'gender'...
..     ...                                                ...
148   1574  {'id': 1574, 'ethnicity': 'Caucasian', 'gender...
149   1576  {'id': 1576, 'ethnicity': 'Caucasian', 'gender...
150   1577  {'id': 1577, 'ethnicity': 'Caucasian', 'gender...
151   1581  {'id': 1581, 'ethnicity': 'Asian(American)', '...
152   1601  {'id': 1601, 'ethnicity': 'Caucasian', 'gender...

                                               samples
0    {'id': '940', 'otu_ids': [1167, 2859, 482, 226...
1    {'id': '941', 'otu_ids': [2722, 944, 2419, 253...
2    {'id': '943', 'otu_ids': [1795], 'sample_value...
3    {'id': '944', 'otu_ids': [922, 3555, 943, 1013...
4    {'id': '945', 'otu_ids': [944, 1795, 922, 2419...
..                                                 ...
148  {'id': '1574', 'otu_ids': [482, 909, 2419, 944...
149  {'id': '1576', 'otu_ids': [1929, 1770, 1926, 1...
150  {'id': '1577', 'otu_ids': [922, 1795, 151, 318...
151  {'id': '1581', 'otu_ids': [1795, 3312, 1399, 3...
152  {'id': '1601', 'otu_ids': [1929, 3030, 1795, 8...

[153 rows x 3 columns]

In [6]:
example_df = pd.DataFrame(example)
example_df

,names,metadata,samples
0,940,"{'id': 940, 'ethnicity': 'Caucasian', 'gender'...","{'id': '940', 'otu_ids': [1167, 2859, 482, 226..."
1,941,"{'id': 941, 'ethnicity': 'Caucasian/Midleaster...","{'id': '941', 'otu_ids': [2722, 944, 2419, 253..."
2,943,"{'id': 943, 'ethnicity': 'Caucasian', 'gender'...","{'id': '943', 'otu_ids': [1795], 'sample_value..."
3,944,"{'id': 944, 'ethnicity': 'European', 'gender':...","{'id': '944', 'otu_ids': [922, 3555, 943, 1013..."
4,945,"{'id': 945, 'ethnicity': 'Caucasian', 'gender'...","{'id': '945', 'otu_ids': [944, 1795, 922, 2419..."
...,...,...,...
148,1574,"{'id': 1574, 'ethnicity': 'Caucasian', 'gender...","{'id': '1574', 'otu_ids': [482, 909, 2419, 944..."
149,1576,"{'id': 1576, 'ethnicity': 'Caucasian', 'gender...","{'id': '1576', 'otu_ids': [1929, 1770, 1926, 1..."
150,1577,"{'id': 1577, 'ethnicity': 'Caucasian', 'gender...","{'id': '1577', 'otu_ids': [922, 1795, 151, 318..."
151,1581,"{'id': 1581, 'ethnicity': 'Asian(American)', '...","{'id': '1581', 'otu_ids': [1795, 3312, 1399, 3..."
152,1601,"{'id': 1601, 'ethnicity': 'Caucasian', 'gender...","{'id': '1601', 'otu_ids': [1929, 3030, 1795, 8..."

In [9]:
educational_degree_name = ['TotalEducation','School','HighSchool','College','Bachelor','Graduate']
age_name = ['TotalAge','age_5','age_18','age_25','age_35','age_45','age_55','age_60','age_65','age_75','age_75more']
income_name = ['TotalIncome','NoIncome','Income','inc_10000','inc_15000','inc_25000','inc_35000','inc_50000',
               'inc_65000','inc_75000','inc_75000more']
sex_name = ['TotalSex','Male','Female']
civil_stats_name = ['TotalCivil','2010','NotCitizen2010','2010Citizen','2000','NotCitizen2000','2000Citizen',
                   '1990','NotCitizen1990','1990Citizen','lower1990','lower1990NotCitizen','lower1990Citizen']

In [4]:
values_dict = {'educational_degree_name': ['TotalEducation','School','HighSchool','College','Bachelor','Graduate'], 
            'age_name': ['TotalAge','age_5','age_18','age_25','age_35','age_45','age_55','age_60','age_65','age_75','age_75more'],
            'income_name': ['TotalIncome','NoIncome','Income','inc_10000','inc_15000','inc_25000','inc_35000',
            'inc_50000','inc_65000','inc_75000','inc_75000more'], 'sex_name': ['TotalSex','Male','Female'], 
             'civil_stats_name': ['TotalCivil','2010','NotCitizen2010','2010Citizen','2000','NotCitizen2000','2000Citizen',
                   '1990','NotCitizen1990','1990Citizen','lower1990','lower1990NotCitizen','lower1990Citizen']}

In [6]:
# Create json inputs
with open('assets/data/inputs.json', 'w') as fp:
    json.dump(values_dict, fp)